.Button {
    border: none;
    font: inherit;
    color: white;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #cccccc;
    text-shadow: 1px 1px 3px #666666;
}

.Button:disabled,
.Button:disabled:hover{
    background-color: #cccccc
}

.Success {
    background-color: #5C9210;
}

.Danger {
    background-color: #cc3300;
}

.EatMe {
    background-color: #40A4C8;;
}

.Success:hover {
    background-color: #82cf17;
}

.Danger:hover {
    background-color: #ff794d;
}

.EatMe:hover {
    background-color: #8bcce4;
}